{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  // your solution here

   	var B1 = document.getElementById("rotate-box");
    var A = new Hammer.Manager(B1);
    var rotate = new Hammer.Rotate();
    A.add(rotate);
    A.on("rotate", function(action) {
      B1.textContent = action.type + " yes";
    });
    
    var B2 = document.getElementById("pinch-box");
    var B = new Hammer.Manager(B2);
    var pinch = new Hammer.Pinch();
    B.add(pinch);
    B.on("pinch", function(action) {
      B2.textContent = action.type + " yes";
    });
    
    var B3 = document.getElementById("press-box");
    var C = new Hammer.Manager(B3);
    var press = new Hammer.Press();
    C.add(press);
    C.on("press", function(action) {
      B3.textContent = action.type + " yes";
    });
   
    var B4 = document.getElementById("pan-box");
    var D = new Hammer.Manager(B4);
    var pan = new Hammer.Pan();
    D.add(pan);
    D.on("pan", function(action) {
      B4.textContent = action.type + " yes";
    });
   
    var B5 = document.getElementById("tap-box");
    var E = new Hammer.Manager(B5);
    var tap = new Hammer.Tap();
    E.add(tap);
     E.on("tap", function(action) {
      B5.textContent = action.type + " yes";
    });
    
    var B6 = document.getElementById("swipe-box");
    var F = new Hammer.Manager(B6);
    var swipe = new Hammer.Swipe();
    F.add(swipe);
    F.on("swipe", function(action) {
      B6.textContent = action.type + " yes";
    });

  </script>
</body>
</html>
